.jumbotron {
    background-image: url("namewritten.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 0;
}

body {
    font-family: Futura, 'Helvetica Neue', Arial, sans-serif;
    
}

h2 {
    font-family: 'Didot';
}

video {
    width: 100%;
    vertical-align: middle;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background: transparent;
}

.card {
    border: 0;
}

h5 {
    font-size: 125%;
}
.carousel-caption {
    font-size: 150%;
    color: white;
      text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


.animate-area	{ 
	background-image: url(twitter-logo-bird.png), url(treehouseFrog.png), url(bg-clouds.png);
	background-position: 20px -90px, 30px 80px, 0px 0px;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    border: 1px white;
    background-color: white;
}ca