.jumbotron {
    background-image: url("namewritten.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

body {
    background: transparent;
}

h2 {
    font-family: 'Didact Gothic';
}

video {
    width: 100%;
    vertical-align: middle;
}